.modal_bg {
	position: fixed; /*fixo, não pode se mexer*/
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99; /*diz se estará acima ou não dos demais objetos (quanto maior, mais sobreposto)*/
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
}
.modal {
	position: absolute; /*pode se mexer, ou não */
	width: 400px;
	height: 300px;
	background-color: #FFF;
	z-index: 100;
	top: 50px;
	left: 50%;
	margin-left: -200px;
}